/*
	GENERAL ELEMENTS
*/
html, body {
	margin: 0;
	font-family: 'Roboto';
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	overflow-x: hidden;
}
h1, h2 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	border-left: 4px solid #4d7fd1;
	padding-left: 10px;
}
h2 {

}
p {
}
.bold {
	font-weight: bold;
}
.small {
	font-size: 0.8em;
	color: gray;
	display: inline-block;
}

.none {
	display: none;
}

/*
	NAVBAR STYLING
*/
.navbar {
	font-size: 1.5em;
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	background-color: #4d7fd1;
	color: white;
	box-shadow: 0 4px 10px rgba(43, 63, 94,0.7);
}
.navbar-inner {
	position: relative;
	line-height: 65px;
}
.product, .study-menu-selector {
	padding-left: 20px;
	float: left;
}
.brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.preferences {
	padding-right: 20px;
	float: right;
}
.preferences > i {
	padding: 0 5px;
}

.page {
	padding-top: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.card {
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
	padding: 20px;
}

.card:not(:first-child) {
	margin-top: 20px;
}

.card-gray {
	background-color: #fcfcfc;
}

.card-image {
	padding: 0;
}

.card-image > img {
	margin: 5px 0 0 5px;
}