h1 {
  font-size: 2em;
  border-left: 3px solid #4d7fd1;
}

.width-limit {
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.visible {
  overflow:visible;
}

.card-cols {
  box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
	padding: 20px;
}

.card-cols > .col-3 {
  width:calc(100%*(1/3));
	float:left;
	box-sizing:border-box;
}

.card-cols > .col-3-double {
	width:calc(100%*(2/3));
	float:left;
	box-sizing:border-box;
}

.card-cols > .col-5 {
  width:20%;
	float:left;
	box-sizing:border-box;
}

.card-cols > .col-5-double {
  width:40%;
	float:left;
	box-sizing:border-box;
}

.card-cols > .col-5-triple {
  width:60%;
	float:left;
	box-sizing:border-box;
}

aside.card {
  margin-top:0px !important;
  box-shadow:none;
  border:none;
  padding:0px;
  padding-left:20px;
}

.col-3-parent {
  width:100%;
}

/*
  PREFERENCES-WIZARD
*/

.wizard-progress {
  float:none;
  text-align:center;
}

.wizard-progress > div {
  display:inline-block;
}

.wizard-progress > div:not(:last-child) {
  margin-right:30px;
}

.option-cards > .option-card:not(:last-child) {
  margin-right:30px;
}

.option-card > .option-name {
  font-size:2em;
}

@media screen and (min-width: 1080px) {

  .breadcrumb {
    left:-60px;
  }

  .breadcrumb:after {
    content: '';
    position: absolute;
    left: 10px;
    transform: rotate(-90deg) scale(-1,1);
    top: calc(100% - 11px);
    border-bottom: 40px solid #eaeaea;
    border-right: 17px solid transparent;
    width: 0;
    height: 0;
  }

}

.breadcrumb {
  margin: auto;
  margin-bottom: 20px;
  width: auto;
}

.search-bar {
  padding-right: 0;
  float:right;
  width:auto;
}

.search-bar input {
  width:auto;
  margin-right: 10px;
}

.search-bar button {

}

section > h1:first-child {
  font-size: 1.7em;
}

/*
	NAVIGATION-DRAWER STYLING
*/
@media screen and (min-width: 900px) {
  .card-cols .navigation-drawer {
    height:auto;
    left:auto;
    position:static;
    max-width:none;
    margin-right:20px;
    border:1px solid lightgray;
    width:calc(20% - 20px);
    box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
    overflow:visible;
    top: auto;
  }

  .card-cols .navigation-drawer a {
    line-height:normal;
    display:inline-block;
    height:auto;
  }
  .navigation-drawer-fixed {
    position: fixed !important;
    top: 85px !important;
  }
  .navigation-drawer-fixed-bottom {
    position: absolute !important;
    bottom: 20px !important;
  }
}


/*
  HEADER
*/
.top-header {
  margin:20px auto;
  height:113px;
  border:1px solid lightgray;
}

.top-header > .product {
  padding:10px 20px;
  background-color:rgba(0,0,0,0.5);
  border:1px solid lightgray;
  bottom:20px;
  left:20px;
  font-size:40px;
}

.top-header > .product > div {
  z-index:auto;
}

.top-header > .header-image > img {
  object-fit: cover;
  margin-top:-50%;
  height:auto;
}

/*
  PAGE STYLING
*/

.search-card {
  border:none;
  box-shadow:none;
}

@media screen and (min-width: 1080px) {

  .card-gray {
    width:calc(100% + 60px);
    position:relative;
  }

  .card-gray:after {
    content: '';
    position: absolute;
    right: 8px;
    transform: rotate(90deg);
    top: calc(100% - 8px);
    border-bottom: 39px solid #eaeaea;
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
  }

}

.card-blue h1 {
  font-size:2em;
}

.blue-bar {
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.carousel-menu {
  height:0px;
  overflow:hidden;
}
