/*
	GENERAL ELEMENTS
*/
html, body {
	margin: 0;
	font-family: 'Roboto';
	background-color: #fcfcfc;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
h1, h2 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	border-left: 2px solid #4d7fd1;
	padding-left: 10px;
	font-size:1.25em;
}
h2 {
	font-size:1.1em;
}
p {
}
.bold {
	font-weight: bold;
}
time {
	color:gray;
	font-size:0.9em;
}
.small {
	font-size: 0.8em;
	color: gray;
	display: inline-block;
}

.accent {
	color:#ff329f;
}

.none {
	display: none;
}

.no-margin {
	margin:0px !important;
}

.clear {
	content: '';
  display: block;
  height: 0px;
  clear: both;
}

.page-content {
	margin-top: 65px;
	overflow: auto;
}

/*
	COLUMNS
*/

.navigation-drawer-spacing {
	height:10px;
}

.col-3-parent, .col-3-a-parent {
	width:300%;
}

.card-cols {
	width:100%;
	/*overflow:hidden;*/
}

.card-cols:after {
	content:'';
	display:block;
	height:0px;
	clear:both;
}

.col-3-parent > .col-3, .col-3-a-parent > .col-3 {
	width:calc(100%*(1/3));
	float:left;
	box-sizing:border-box;
	padding:20px;
}

.col-3-parent > .col-3-double, .col-3-a-parent > .col-3-double {
	width:calc(100%*(2/3));
	float:left;
	box-sizing:border-box;
}

.hor-scroll {
	position:relative;
	overflow:hidden;
	touch-action:pan-y;
}

/*
	NAVBAR STYLING
*/
.navbar {
	font-size: 1.5em;
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	background-color: #4d7fd1;
	color: white;
	box-shadow: 0 4px 10px rgba(43, 63, 94,0.7);
	z-index:5;
}
.navbar-spacing {
	height:65px;
}
.navbar-inner {
	position: relative;
	line-height: 65px;
}
.product, .navigation-drawer-button {
	padding: 0 20px;
	float: left;
}
.brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.preferences {
	padding-right: 10px;
	float: right;
}
.preferences > div {
	cursor:pointer;
	display:inline-block;
	padding:0px 5px;
}
.preferences > div > i {

}

/*
	NAVIGATION-DRAWER STYLING
*/

.navigation-drawer-button {
	cursor:pointer;
}

.navigation-drawer {
  left:-100vw;
  width:100%;
  max-width:300px;
  height:calc(100vh - 65px);
  position:fixed;
  z-index:2;
  background-color:white;
  box-shadow:2px 0px 3px 0px rgba(0,0,0,0.2);
  box-sizing:border-box;
  touch-action: pan-y;
  overflow-x:hidden;
  overflow-y:scroll;
}

.navigation-drawer header {
  margin:20px;
  font-size:120%;
}

.navigation-drawer ul {
  list-style:none;
  padding:0px;
}

.navigation-drawer li {
  border-top:1px solid lightgray;
}

.navigation-drawer li.active {
  background-color:#4d7fd1;
}

.navigation-drawer a {
  display:block;
  text-decoration:none;
  color:black;
  padding:10px;
  padding-left:20px;
  height:40px;
  line-height:40px;
}

.navigation-drawer ul ul a {
  padding-left:40px;
}

.navigation-drawer li.active a {
  color:white;
}

.navigation-drawer-bg {
  position:fixed;
  top:0px;
  left:0px;
  z-index:-1;
  opacity:0;
  background-color: #000;
  width:100vw;
  height:100vh;
	transition: opacity 0.2s ease-in-out;
}

.navigation-drawer-bg.active {
	opacity:0.3;
	z-index:2;
}

/*
	SUBNAVBAR STYLING
*/

.subnavbar {
  width:100%;
  background-color:white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index:1;
  overflow:hidden;
}

.subnavbar span {
	cursor:pointer;
	width:calc(100% * (1/3) - 12px);
  border-left: 1px solid lightgray;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  display:inline-block;
  margin:6px 6px;
  box-sizing:border-box;
  float:left;
  text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

@media screen and (min-width:600px) {

  .subnavbar span:nth-child(even) {
    border-right: none;
  }

  .subnavbar span:last-child {
    border-right: 1px solid lightgray;
  }

}

/*
	PREFERENCES-WIZARD
*/

.preferences-wizard {
	margin-top:65px;
	top:-100vh;
  width:90%;
	left:0;
	right:0px;
	margin-left:auto;
	margin-right:auto;
  max-height:calc(100vh - 65px);
  position:fixed;
  z-index:3;
}

.preferences-wizard > .wizard-top {
	overflow:hidden;
	color:gray;
}

.wizard-top > .wizard-close {
	cursor:pointer;
	font-size:1.5em;
	height:40px;
	line-height:40px;
	display:inline-block;
	padding:0px 5px;
	float:right;
}

.preferences-wizard > .wizard-main {
	overflow:hidden;
}

.wizard-option > .option-cards {
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	text-align:center;
}

.option-cards > .option-card {
	cursor:pointer;
	width:40%;
	max-width:200px;
	min-width:80px;
	display:inline-block;
	border:1px solid lightgray;
	box-sizing:border-box;
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
}

.option-cards > .option-card.active {
	background-color:#4d7fd1;
	color:white;
}

.option-card > .option-icon > * {
	width:100%;
	font-size:5em;
	display:block;
}

.option-card > .option-name {
	text-align:center;
	padding:10px 0px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.preferences-wizard > .wizard-save {
	overflow:hidden;
}

.wizard-save > div {
	cursor:pointer;
	float:right;
	display:inline-block;
	background-color:#4d7fd1;
	padding:10px 20px;
	color:white;
}

.breadcrumb {
	display:inline-block;
	background-color:#fcfcfc !important;
	margin: 0 20px 20px 20px;
	width: calc(100% - 40px);
	position:relative;
	padding: 10px !important;
	font-size: 0.9em;
}

.breadcrumb a {
	color:gray;
	text-decoration:none;
}

.breadcrumb a:hover {
	text-decoration:underline;
}

.breadcrumb a:last-child {
	color:black;
}

.breadcrumb span {
	color:gray;
	margin:0px 5px;
}

.search-bar {
	display:inline-block;
	margin-bottom:20px;
	box-sizing:border-box;
	width:100%;
	padding:0px 20px;
}

.search-bar input {
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
	display:inline-block;
	box-sizing:border-box;
	padding:10px 20px;
	border:1px solid lightgray;
	width: calc(100% - 60px);
	height: 40px;
}

.search-bar button {
	background-color:#4d7fd1;
	color:white;
	padding:10px 20px;
	border:none;
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
	cursor:pointer;
	float:right;
	width:50px;
	height: 40px;
}

/*
	STUDY DRAWERS
*/

.study-drawer {
	margin-top:65px;
	top:-100vh;
  width:90%;
	left:0;
	right:0px;
	margin-left:auto;
	margin-right:auto;
  max-height:calc(100vh - 65px);
	box-sizing: border-box;
  position:fixed;
  z-index:3;
	background-color:white;
	padding:20px;
	overflow-y:auto;
	border: 1px solid lightgray;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.study-drawer .study-drawer-close {
	position: absolute;
	right:0px;
	top:0px;
	margin:20px;
	padding:10px;
	cursor:pointer;
	color:gray;
	font-size:1.5em;

}

.study-drawer ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

.study-drawer ul > li {
	background-color:white;
}

.study-drawer ul > li:nth-child(even) {
	background-color:#f9f9f9;
}

.study-drawer ul > li:not(:last-child) {
	border-bottom:1px solid lightgray;
}

.study-drawer ul > li > a {
	padding:10px 20px;
	text-decoration: none;
	display:inline-block;
	color:black;
}

.study-drawer ul > li > a:hover {
	padding-left:25px;
}

.study-drawer ul > li > a:before {
	content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 10px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
	HEADER
*/

.top-header {
	position: relative;
  margin-bottom:20px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.top-header > .product {
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 10px;
	bottom:10px;
	font-size: 1.5em;
	color: white;
}

.top-header > .product > div {
	z-index:6;
	color:white;
	position:relative;
}

.top-header > .header-image {
	width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-header > .header-image img {
	width:100%;
	height:auto;
	margin-top:-30vw;
	display:block;
}

/*.preferences > i > .flag {
	box-shadow: 0 4px 10px rgba(43, 63, 94,0.7) inset;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.preferences > i > .flag > img {
	width: 100%;
}*/
/*
	PAGE STYLING
*/

.page {
	padding-top: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.card {
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
	padding: 20px;
	/*transition: all 1s;*/
	/*overflow-x: hidden;*/
}

.card:not(:first-child), .card-cols {
	margin-top: 20px;
}

.search-card {

}

.search-card > header {

}

.search-card > .search-result {
	font-size:1.2em;
}

.search-card > .search-result > span {
	font-weight:bold;
}

.search-card > .search-result > span:before {
	content:'"';
}

.search-card > .search-result > span:after {
	content:'"';
}

.card-gray {
	background-color: #fcfcfc;
}

.card-blue {
	background-color:#4d7fd1;
	color:white;
}

.card-blue a {
	color:white;
}

.card-blue section > a {
	text-align:center;
	border:2px solid white;
	padding:5px 10px;
	text-decoration:none;
	transition:all 0.1s ease-in-out;
	display:inline-block;
}

.card-blue section > a:hover {
	color:#4d7fd1;
	background-color:white;
}

.card-blue h1 {
	border-left:none;
	padding-left:0px;
}

.card-blue h1 > i {
	margin-right:10px;
}

.blue-bar h1 {
	margin-top:0px;
}

.card-news h1:after {
	content: ' / news';
	font-size:0.9em;
	color:gray;
}

.card-full {
	padding: 0;
}

.card-full > img {
	margin: 5px 0 0 5px;
}

.carousel-menu {
	height:30px;
	text-align:center;
}

.carousel-circle {
	width:7px;
	height:7px;
	border-radius:7px;
	border:2px solid white;
	display:inline-block;
	overflow:hidden;
}

.carousel-circle > div {
	width:100%;
	height:100%;
}

.carousel-circle.active > div {
	background-color:white;
}

/*
	SEARCH PAGE
*/

.search-list {
	list-style:none;
	padding:0px;
	margin:0px;
}

.search-list li {
	background-color:white;
	padding:20px;
}

.search-list li:not(:last-child) {
	border-bottom:1px solid lightgray;
}

.search-list li a {
	text-decoration: none;
	color:black;
}

.search-list li a:hover h1 {
	padding-left:20px;
}

.search-list li a:hover p {
	text-decoration: underline;
}

.search-list li a p {
	color:darkgreen;
}

.search-list li .search-tags:before {
	content: 'Tags: ';
	display:block;
}

.search-list li .search-tags a {
	display:inline-block;
	font-size:0.8em;
	border:1px solid lightgray;
	border-radius:4px;
	background-color:#fcfcfc;
	padding:10px 20px;
	margin:5px;
}

.search-list li .search-tags a:hover {
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
	background-color:#f1f1f1;
}


/*
	FOOTER
*/

footer > .col-4 {
	padding:10px 0px;
}

@media screen and (min-width: 350px) {
	footer > .col-4 {
		width:calc(100%*(1/2));
		float:left;
		box-sizing: border-box;
		padding:10px;
	}

	footer > .col-4:nth-child(odd) {
		clear:both;
	}
}

@media screen and (min-width: 600px) {
	footer > .col-4 {
		width:calc(100%*(1/4));
	}

	footer > .col-4:nth-child(odd) {
		clear:none;
	}

	footer > .col-4:nth-child(4n+1) {
		clear:both;
	}
}

footer > .col-4 > div {
	padding:5px 0px;
}

footer > .footer-social i {
	font-size:2em;
}

.footer-bottom {
	border-top:1px solid white;
	padding-top:10px;
	clear:both;
}

.footer-bottom > div {
	display:inline-block;
}

.footer-bottom > .language {
	float:right;
}

.footer-bottom > .language span {
	color:#ccc;
}
