.study-selector {
  position:relative;
  overflow:hidden;
}

.study-menu {
  height:65px;
}

.study-menu > div:not(:last-child) {
  border-right: 1px solid lightgray;
}

.study-menu-item {
  cursor:pointer;
  display:inline;
  width: calc(100%*(1/3));
  float:left;
  line-height:65px;
  text-align:center;
  font-size:5vw;
  box-sizing:border-box;
  border-bottom:1px solid lightgray;
  background-color: #F5F5F5;
}

.study-menu > .active {
  background-color:white;
  border-left:2px solid #4d7fd1;
  border-bottom:none;
}

.study-list {
  clear:both;
  margin-top:2px;
  overflow:hidden;
}

.study-list-item {
  padding:20px !important;
  padding-top:0px !important;
}

.study-list-item > ul {
  list-style-type:none;
  overflow:hidden;
  margin:0px;
  padding:0px;
}

.study-list-item > ul > li {
  margin:5px 0px;
  border:1px solid lightgray;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.study-list-item > ul > li > a {
  text-decoration: none;
  color:black;
  padding:10px;
  height:40px;
  line-height:40px;
  display:block;
}
.study-list-item > ul > li > a:hover {
  background-color: #f4faff;
}

.study-list-expand {
  box-shadow: 0px -30px 90px 30px #FFF;
  z-index:1;
  position:relative;
  text-align:center;
  height:0px;
  margin-bottom:40px;
}

.study-list-expand > div {
  cursor:pointer;
  width:40px;
  height:40px;
  background-color:#4d7fd1;
  border-radius:40px;
  display:inline-block;
  position:relative;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.study-list-expand > div > i {
  font-size:40px;
  line-height:40px;
  color:white;
}

/*
  DESKTOP STYLING
*/
@media screen and (min-width: 700px) {
.study-selector {
  overflow:visible;
  height:375px;
}

  .study-menu {
    width:calc(100%*(1/3));
    float:left;
    height:auto;
  }

  .study-menu > div:not(:last-child) {
    //border-right: none;
    border-bottom:1px solid lightgray !important;
  }

  .study-menu > .active {
    border-right:none !important;
  }

  .study-menu > .active {
  }

  .study-menu-item {
    width:initial;
    height:125px;
    display:block;
    float:none;
    line-height:normal;
    text-align:left;
    font-size:2em;
    box-sizing:border-box;
    border-right:1px solid lightgray;
    border-bottom:none;
    padding:20px;
  }

  .study-list {
    width:calc(100%*(2/3));
    height:375px !important;
    min-height:375px;
    position:absolute;
    background-color:white;
    right:0px;
    z-index:1;
    box-shadow:0px 2px 3px 0px rgba(0,0,0,0.1);
    box-sizing:border-box;
    border:1px solid lightgray;
    margin-top:0px;
    transition:height 0.1s ease-in-out;
  }

  .study-list-open {
    height:auto !important;
  }

  .study-list-item {
    width:100% !important;
    display:none;
  }

  .study-list-item.focus-content {
    display:block;
  }

  .study-list-item > ul {
    list-style-type:none;
    overflow:hidden;
    margin:0px;
    padding:0px;
  }

  .study-list-item > ul > li {
    margin:0px;
    border:none;
    border-top:1px solid lightgray;
    box-shadow:none;
  }

  .study-list-item > ul > li:nth-child(even) {
    background-color:#f9f9f9;
  }

  .study-list-item > ul > li:last-child {
    border-bottom:1px solid lightgray;
  }

  .study-list-item > ul > li > a {
    text-decoration: none;
    color:#666;
    padding:5px;
    padding-left:20px;
    height:30px;
    line-height:30px;
  }

  .study-list-item > ul > li > a:hover {
    padding-left:25px;
  }

  .study-list-item > ul > li > a:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .study-list-expand {
    width:calc(100%*(2/3));
    margin-bottom:0px;
    position:absolute;
    bottom:40px;
    box-shadow:none;
  }
}
