.navbar {
	box-shadow:none;
}

@media screen and (min-width: 900px) {
	.navigation-drawer-button {
		display:none;
	}

}

@media screen and (min-width: 700px) {
	.study-info > .card {
		box-shadow:none;
		border:none;
	}
	.col-5-triple .card {
		padding: 0;
	}
}

@media screen and (min-width:700px) and (max-width:900px) {
	.card-cols > .col-5 {
	  width:30%;
		float:left;
		box-sizing:border-box;
	}
	.col-5-triple {
		width: 70% !important;
	}

}
